<nav class="navbar navbar-primary bg-primary">
  <div class="container">
    <span class="navbar-brand"><%= t('navbar.admin_title') %></span>
    <span class="navbar-text">
      <%= t('navbar.welcome') %>, <b><%= current_user.email %></b> Guru |
      <%= link_to t('logout'), destroy_user_session_path, class: 'text-dark', method: :delete %>
    </span>
  </div>
</nav>

