.nav.user {
  text-align: right;
}

.nav.logo {
  text-align: left;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.nav.link {
  float: right;
}

.nav.nav-admin {
  height: 36px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 140%;
  font-weight: bold;
}

.nav-admin.user {
  float: right;
}

.nav-admin.user-email {
  text-decoration: underline;
}

.nav.nav-admin
  a {
    color: #ffffff;
  }
