<strong>Test Questions</strong>

<p>
  <%= link_to 'New Test Question', new_admin_test_question_path(@test) %>
</p>

<table>
  <tr>
    <th>Body</th>
    <th colspan="3">Action</th>
  </tr>

  <%= render @test.questions %>
</table>
