<footer>
  <hr>
  <p>
    <strong>&#174;</strong>
    <%= current_date_year %>,
    <%= github_url(:HabiFan, :TestGuru) %>
  </p>

  <p>
    Knowledge testing resource,
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica',
                'https://thinknetica.com', target: '_blank' %>.
  </p>
</footer>
