<footer>
  <hr>
  <p>
    <strong>&#174;</strong>
    <%= current_date_year %>,
    <%= github_url(:HabiFan, :TestGuru) %>
  </p>

  <p>
    <%= t('.info') %>, 
    <%= link_to t('.school_info'),
                'https://thinknetica.com', target: '_blank' %>.
  </p>
</footer>